body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #222;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
}

/* Layout */
main {
    display: grid;
    grid-template-columns: 1.5fr 0.7fr ;
}

/* Game Canvas */
#tetris {
    display: block;
    margin-left: 350px;
    margin-top: 60px;
    border: 8px solid #3eb7ca;
    border-radius: 12px;
}

/* Game UI */
.UI {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    width: 400px;
    height: 100%;
    background: rgb(29, 28, 28);
    border-radius: 12px;
}

/* Title */
h1 {
    color: #fff;
    background: #000;
    padding: 15px 20px;
    margin: 20px auto;
    border-radius: 8px;
}

/* Game Stats */
.stats {
    display: flex;
    gap: 10px;
}

/* Game Stat Blocks */
.score, .lines, .level {
    background: #000;
    border-radius: 6px;
    border: 2px solid #3eb7ca;
    width: 38%;
    margin-left: 10px;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Game Stat Values */
.value {
    text-align: center;
    font-size: 20px;
}

/* Next Block Preview */
.nextBlock {
    background: #000;
    border-radius: 6px;
    border: 2px solid #3eb7ca;
    width: 60%;
    padding: 10px;
    margin-left: 80px;
}

.next-block-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
}

#nextBlockCanvas {
    display: block;
    margin: 0 auto;
    border: 4px solid #3eb7ca;
    border-radius: 6px;
    background: #000;
}
